## Entregável 2

Calcular o total líquido da empresa. Esse total é calculado da seguinte forma 
total_liquido = soma(total_bruto – desconto_percentual). 

O resultado esperado é uma código com pyspark que retorne o total liquido da empresa que é 59973.46.

In [6]:
# Conjunto de dados

transacoes = [{'transacao_id':1, 'total_bruto':3000, 'desconto_percentual':6.99},
            {'transacao_id':2, 'total_bruto':57989, 'desconto_percentual':1.45},
            {'transacao_id':4, 'total_bruto':1, 'desconto_percentual':None},
            {'transacao_id':5, 'total_bruto':34, 'desconto_percentual':0.0}]

In [3]:
# importando modulos

from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [83]:
# Criar sessão spark

spark = SparkSession \
    .builder \
    .appName("Entregavel2") \
    .getOrCreate()

In [84]:
# criar dataframe a partir dos dados de entrada que foi passado

df = spark.createDataFrame(transacoes)

# schema
df.printSchema()

# show df
df.show()

root
 |-- desconto_percentual: double (nullable = true)
 |-- total_bruto: long (nullable = true)
 |-- transacao_id: long (nullable = true)

+-------------------+-----------+------------+
|desconto_percentual|total_bruto|transacao_id|
+-------------------+-----------+------------+
|               6.99|       3000|           1|
|               1.45|      57989|           2|
|               null|          1|           4|
|                0.0|         34|           5|
+-------------------+-----------+------------+

In [85]:
# calculo

df = df.withColumn("total_liquido", col("total_bruto") - (col("total_bruto") * col("desconto_percentual") / 100))

# resultado
# show

df.select('total_liquido').printSchema()
df.show()

root
 |-- total_liquido: double (nullable = true)

+-------------------+-----------+------------+-------------+
|desconto_percentual|total_bruto|transacao_id|total_liquido|
+-------------------+-----------+------------+-------------+
|               6.99|       3000|           1|       2790.3|
|               1.45|      57989|           2|   57148.1595|
|               null|          1|           4|         null|
|                0.0|         34|           5|         34.0|
+-------------------+-----------+------------+-------------+

In [87]:
# resultado final

df_total_liquido = df.select((sum(df['total_liquido']).cast('float')).alias('total_liquido'))

# show
df_total_liquido.show()

+-------------+
|total_liquido|
+-------------+
|     59972.46|
+-------------+

In [88]:
# Fechar sessão
spark.stop()